<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>El Algarrobo</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>


<body>

    <header>
        <h1>El Algarrobo</h1>
        <span>Bienvenido al panel de administración</span>
    </header>

    <div class="container">
        <aside class="sidebar">

            <ul>

            <li><a href="/">Dashboard</a></li>

            <li><a href="#">Clientes</a></li>

            <li><a href="#">Muebles</a></li>

            <li><a href="#">Pedidos</a></li>

            <li><a href="#">Usuarios</a></li>

            </ul>

        </aside>


        <main class="content">

            <h2>Dashboard</h2>
            <p>funca</p>

            <div class="cards">

                 <div class="card">
                <h3>Clientes</h3>
                <p>Administrar clientes.</p>
            </div>

            <div class="card">
                <h3>Muebles</h3>
                <p>Administrar catálogo.</p>
            </div>

            <div class="card">
                <h3>Pedidos</h3>
                <p>Gestionar pedidos.</p>
            </div>

            <div class="card">
                <h3>Usuarios</h3>
                <p>Gestionar usuarios.</p>
            </div>

            </div>

        </main>

    </div>


</body>
</html>